.App {
  min-height: 100vh;
}

input {
  margin-bottom: 1em;
}

.container {
  padding-top: 242px;
  text-align: center;
}

.output {
  padding: 2em 0;
}

.lyrics {
  padding-top: 1em;
  white-space: pre-wrap;
}

@media (min-width: 576px) {
  input {
    margin-bottom: 0;
  }
  .container {
    padding-top: 242px;
  }
}

@media (min-width: 634px) {
  .container {
    padding-top: 70px;
  }
}
